.shop__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  color: #fff;
  margin-bottom: 2em;
  height: 161px;
  width: 100%;
  background: #52c3ff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 19px;
  .img {
    position: absolute;
    width: 208px;
    height: 208px;
    margin-top: 5em;
    filter: drop-shadow(0px 0px 24px rgba(4, 4, 4, 0.3));
  }
  .details {
    margin-left: 225px;
  }
  h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 1em;
    margin-top: 0.5em;
  }
}
.shop__routing {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-weight: 800;
      font-size: 28px;
      line-height: 36px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #52c3ff;
      border-radius: 8px;
      color: #fff;
      gap: 1em;
      font-weight: 900;
      font-size: 14px;
      padding: 0.2em 1em;
    }
  }
  .routs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    margin: 3em 0;
    .route {
      display: flex;
      align-items: center;
      text-align: center;
      background: #eff9ff;
      border-radius: 46px;
      color: #333;
      font-weight: 900;
      font-size: 14px;
      padding: 0.2em 1em;
      width: calc(50% - 1em);
      min-width: 140px;
      height: 54px;
      cursor: pointer;
      span {
        width: 35px;
        height: 35px;
        min-width: 35px;
        border-radius: 50%;
        background: #f9ae2b;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2em;
      }
      h6 {
        align-self: center;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        width: calc(100% - 35px);
      }
      &:last-child {
        width: 100% !important;
      }
    }
  }
  .selected {
    background: #52c3ff !important;
    color: #fff !important;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
      0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    span {
      background: #fff !important;
      path {
        fill: #52c3ff;
      }
    }
  }
}

@media screen and (max-width:480px) {
  .shop__header {
    .img {
      width: 180px!important;
      height: 180px!important;
      overflow: hidden!important;
    }
    .details {
      margin-left: 170px!important;
    }
  }
}