{
    "schemes": [
        "http",
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "Swagger Example API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "mel-api.go7.ir",
    "basePath": "/api/v1",
    "paths": {
        "/question": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update Question",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Update Question",
                "parameters": [
                    {
                        "description": "Update Question",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create Question",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Create Question",
                "parameters": [
                    {
                        "description": "Create Question",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question-group": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update Question-Group",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Question-Groups"
                ],
                "summary": "Update Question-Group",
                "parameters": [
                    {
                        "description": "Update Question-Group",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionGroupUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionGroupUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create Question Group",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Question-Groups"
                ],
                "summary": "Create Question-Group Group",
                "parameters": [
                    {
                        "description": "Create Question Group",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionGroupCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionGroupCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question-group/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Group by Section id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Question-Groups"
                ],
                "summary": "Find Group by Section id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "section ID",
                        "name": "section_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.QuestionGroupResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question-group/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Question-Group by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Question-Groups"
                ],
                "summary": "Find Question-Group by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Question-Group ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionGroupResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete Question-Group by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Question-Groups"
                ],
                "summary": "Delete Question-Group by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Question-Group ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Questions by group id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Find Questions by group id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "group ID",
                        "name": "group_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.QuestionResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question/test/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Questions by test id with statistic data",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Find Questions by test id with statistic data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "test_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User Test ID",
                        "name": "user_test_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.QuestionWithUserAnswerResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/question/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Question by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Find Question by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Question ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.QuestionResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete question by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Questions"
                ],
                "summary": "Delete question by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Questions ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/section": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update Section",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Sections"
                ],
                "summary": "Update Section",
                "parameters": [
                    {
                        "description": "Update test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.SectionUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.SectionUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create Section",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Sections"
                ],
                "summary": "Create Section",
                "parameters": [
                    {
                        "description": "Create section",
                        "name": "Section",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.SectionCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.SectionCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/section/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find all Sections",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Sections"
                ],
                "summary": "Find All",
                "parameters": [
                    {
                        "type": "string",
                        "description": "section ID",
                        "name": "test_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.SectionResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/section/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Section by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Sections"
                ],
                "summary": "Find Section by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Section ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.SectionResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete Section by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Sections"
                ],
                "summary": "Delete Section by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Section ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/test": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update Test",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Update Test",
                "parameters": [
                    {
                        "description": "Update test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.TestUpdateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.TestUpdateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create Test",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Create Test",
                "parameters": [
                    {
                        "description": "Create test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.TestCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.TestCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/test/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "type of \"data\" field in response is array of \"DTO.TestResponse\"",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Find All",
                "parameters": [
                    {
                        "type": "string",
                        "description": "search",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "module:0 is ielts general",
                        "name": "filter",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "order by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order direction",
                        "name": "order_direction",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.PaginateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/test/full/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "get test with sections and section's question groups",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Get test wih all detail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.TestResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/test/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find Test by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Find Test by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.TestResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete test by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Tests"
                ],
                "summary": "Delete test by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "type of \"data\" field in response is array of \"DTO.UserSignUpOrLoginUserResponse\"",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Get all user with pagination",
                "parameters": [
                    {
                        "type": "string",
                        "description": "search",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "filter",
                        "name": "filter",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "order by",
                        "name": "order_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "order direction",
                        "name": "order_direction",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.PaginateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create user-answer",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Create user-answer",
                "parameters": [
                    {
                        "description": "Create test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find user-answer by user test id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Find user-answer by user test id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User Test ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.UserAnswerResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/answer": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update User answer",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Update user answer",
                "parameters": [
                    {
                        "description": "Update User-Answer",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateAnswerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateAnswerResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/answer/speaking": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update speaking User answer",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Update speaking user answer",
                "parameters": [
                    {
                        "description": "Update User-Answer",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateAnswerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateAnswerResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/batch": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "BatchCreate user-answer",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "BatchCreate user-answer",
                "parameters": [
                    {
                        "description": "Create user-answer",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DTO.UserAnswerCreateResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/marker": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Update user answer score",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Update user answer score",
                "parameters": [
                    {
                        "description": "Update User-Answer",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateMarkerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerUpdateMarkerResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/speaking": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create speaking user-answer",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Create speaking user-answer",
                "parameters": [
                    {
                        "description": "Create test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-answer/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find user-answer by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Find user-answer by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User answer ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserAnswerResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete user-answer by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-answers"
                ],
                "summary": "Delete user-answer by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user-answer ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-test": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Create user-test",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-tests"
                ],
                "summary": "Create user-test",
                "parameters": [
                    {
                        "description": "Create test",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DTO.UserTestCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserTestCreateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-test/all": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "type of \"data\" field in response is array of \"DTO.UserTestResponse\"",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-tests"
                ],
                "summary": "Find all user's test with user id specification and pagination",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user-test ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page",
                        "name": "page",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "page size",
                        "name": "page_size",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.PaginateResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-test/submit": {
            "put": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Submit Test",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-tests"
                ],
                "summary": "Submit Test",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Test ID",
                        "name": "test_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "User Test ID",
                        "name": "user_test_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserTestResultResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user-test/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Find user-test by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-tests"
                ],
                "summary": "Find user-test by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user-test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserTestResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Delete user-test by id",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "User-tests"
                ],
                "summary": "Delete user-test by id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "user-test ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        },
        "/user/auth": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Login or signup user with firebase token",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Login or signup user",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DTO.UserSignUpOrLoginUserResponse"
                        }
                    },
                    "400": {
                        "description": "error message detail"
                    }
                }
            }
        }
    },
    "definitions": {
        "DTO.PaginateResponse": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "data": {}
            }
        },
        "DTO.QuestionCreateRequest": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "groupId": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "questionType": {
                    "type": "integer"
                },
                "testComponent": {
                    "type": "integer"
                }
            }
        },
        "DTO.QuestionCreateResponse": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "statId": {
                    "type": "string"
                },
                "statistic": {
                    "$ref": "#/definitions/DTO.QuestionStatisticResponse"
                },
                "t_answer": {
                    "type": "integer"
                },
                "t_correct_answer": {
                    "type": "integer"
                },
                "testComponent": {
                    "type": "string"
                }
            }
        },
        "DTO.QuestionGroupCreateRequest": {
            "type": "object",
            "properties": {
                "SpeakingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupSpeaking"
                },
                "componentType": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "identifyingInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupIdentifyingInformation"
                    }
                },
                "map": {
                    "$ref": "#/definitions/models.QuestionGroupMap"
                },
                "multipleChoice": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMultipleChoice"
                    }
                },
                "noteCompletion": {
                    "$ref": "#/definitions/models.QuestionGroupNoteCompletion"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "sectionId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "writingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupWriting"
                }
            }
        },
        "DTO.QuestionGroupCreateResponse": {
            "type": "object",
            "properties": {
                "SpeakingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupSpeaking"
                },
                "componentType": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "identifyingInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupIdentifyingInformation"
                    }
                },
                "map": {
                    "$ref": "#/definitions/models.QuestionGroupMap"
                },
                "multipleChoice": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMultipleChoice"
                    }
                },
                "noteCompletion": {
                    "$ref": "#/definitions/models.QuestionGroupNoteCompletion"
                },
                "title": {
                    "type": "string"
                },
                "writingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupWriting"
                }
            }
        },
        "DTO.QuestionGroupResponse": {
            "type": "object",
            "properties": {
                "SpeakingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupSpeaking"
                },
                "componentType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "identifyingInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupIdentifyingInformation"
                    }
                },
                "map": {
                    "$ref": "#/definitions/models.QuestionGroupMap"
                },
                "multipleChoice": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMultipleChoice"
                    }
                },
                "noteCompletion": {
                    "$ref": "#/definitions/models.QuestionGroupNoteCompletion"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "questions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DTO.QuestionWithoutAnswerResponse"
                    }
                },
                "title": {
                    "type": "string"
                },
                "writingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupWriting"
                }
            }
        },
        "DTO.QuestionGroupUpdateRequest": {
            "type": "object",
            "properties": {
                "SpeakingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupSpeaking"
                },
                "componentType": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "identifyingInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupIdentifyingInformation"
                    }
                },
                "map": {
                    "$ref": "#/definitions/models.QuestionGroupMap"
                },
                "multipleChoice": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMultipleChoice"
                    }
                },
                "noteCompletion": {
                    "$ref": "#/definitions/models.QuestionGroupNoteCompletion"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "writingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupWriting"
                }
            }
        },
        "DTO.QuestionGroupUpdateResponse": {
            "type": "object",
            "properties": {
                "SpeakingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupSpeaking"
                },
                "componentType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "identifyingInformation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupIdentifyingInformation"
                    }
                },
                "map": {
                    "$ref": "#/definitions/models.QuestionGroupMap"
                },
                "multipleChoice": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMultipleChoice"
                    }
                },
                "noteCompletion": {
                    "$ref": "#/definitions/models.QuestionGroupNoteCompletion"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                },
                "updateAt": {
                    "type": "string"
                },
                "writingTopic": {
                    "$ref": "#/definitions/models.QuestionGroupWriting"
                }
            }
        },
        "DTO.QuestionResponse": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "statistic": {
                    "$ref": "#/definitions/DTO.QuestionStatisticResponse"
                }
            }
        },
        "DTO.QuestionStatisticResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "questionType": {
                    "type": "string"
                },
                "t_answer": {
                    "type": "integer"
                },
                "t_correctAnswer": {
                    "type": "integer"
                }
            }
        },
        "DTO.QuestionUpdateRequest": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "testComponent": {
                    "type": "integer"
                }
            }
        },
        "DTO.QuestionUpdateResponse": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "updateAt": {
                    "type": "string"
                }
            }
        },
        "DTO.QuestionWithUserAnswerResponse": {
            "type": "object",
            "properties": {
                "correctAnswer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                },
                "statistic": {
                    "$ref": "#/definitions/DTO.QuestionStatisticResponse"
                },
                "userAnswer": {
                    "$ref": "#/definitions/DTO.UserAnswerResponse"
                }
            }
        },
        "DTO.QuestionWithoutAnswerResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "q_number": {
                    "type": "integer"
                }
            }
        },
        "DTO.SectionCreateRequest": {
            "type": "object",
            "properties": {
                "componentType": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "sectionListening": {
                    "$ref": "#/definitions/models.SectionListening"
                },
                "sectionReading": {
                    "$ref": "#/definitions/models.SectionReading"
                },
                "sectionSpeaking": {
                    "$ref": "#/definitions/models.SectionSpeaking"
                },
                "sectionWriting": {
                    "$ref": "#/definitions/models.SectionWriting"
                },
                "testId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "totalSectionTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.SectionCreateResponse": {
            "type": "object",
            "properties": {
                "componentType": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "sectionListening": {
                    "$ref": "#/definitions/models.SectionListening"
                },
                "sectionReading": {
                    "$ref": "#/definitions/models.SectionReading"
                },
                "sectionSpeaking": {
                    "$ref": "#/definitions/models.SectionSpeaking"
                },
                "sectionWriting": {
                    "$ref": "#/definitions/models.SectionWriting"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "DTO.SectionResponse": {
            "type": "object",
            "properties": {
                "componentType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "questionGroups": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DTO.QuestionGroupResponse"
                    }
                },
                "sectionListening": {
                    "$ref": "#/definitions/models.SectionListening"
                },
                "sectionReading": {
                    "$ref": "#/definitions/models.SectionReading"
                },
                "sectionSpeaking": {
                    "$ref": "#/definitions/models.SectionSpeaking"
                },
                "sectionWriting": {
                    "$ref": "#/definitions/models.SectionWriting"
                },
                "title": {
                    "type": "string"
                },
                "totalSectionTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.SectionUpdateRequest": {
            "type": "object",
            "properties": {
                "componentType": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "q_end": {
                    "type": "integer"
                },
                "q_start": {
                    "type": "integer"
                },
                "sectionListening": {
                    "$ref": "#/definitions/models.SectionListening"
                },
                "sectionReading": {
                    "$ref": "#/definitions/models.SectionReading"
                },
                "sectionSpeaking": {
                    "$ref": "#/definitions/models.SectionSpeaking"
                },
                "sectionWriting": {
                    "$ref": "#/definitions/models.SectionWriting"
                },
                "title": {
                    "type": "string"
                },
                "totalSectionTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.SectionUpdateResponse": {
            "type": "object",
            "properties": {
                "componentType": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "sectionListening": {
                    "$ref": "#/definitions/models.SectionListening"
                },
                "sectionReading": {
                    "$ref": "#/definitions/models.SectionReading"
                },
                "sectionSpeaking": {
                    "$ref": "#/definitions/models.SectionSpeaking"
                },
                "sectionWriting": {
                    "$ref": "#/definitions/models.SectionWriting"
                },
                "title": {
                    "type": "string"
                },
                "updateAt": {
                    "type": "string"
                }
            }
        },
        "DTO.TestCreateRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "detail": {
                    "$ref": "#/definitions/models.TestDetail"
                },
                "module": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "testDate": {
                    "type": "integer"
                },
                "totalTestTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.TestCreateResponse": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "detail": {
                    "$ref": "#/definitions/models.TestDetail"
                },
                "id": {
                    "type": "string"
                },
                "module": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "testDate": {
                    "type": "string"
                }
            }
        },
        "DTO.TestResponse": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "detail": {
                    "$ref": "#/definitions/models.TestDetail"
                },
                "id": {
                    "type": "string"
                },
                "module": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "sections": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DTO.SectionResponse"
                    }
                },
                "testDate": {
                    "type": "string"
                },
                "totalTestTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.TestUpdateRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "detail": {
                    "$ref": "#/definitions/models.TestDetail"
                },
                "id": {
                    "type": "string"
                },
                "module": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "testDate": {
                    "type": "integer"
                },
                "totalTestTime": {
                    "type": "integer"
                }
            }
        },
        "DTO.TestUpdateResponse": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "detail": {
                    "$ref": "#/definitions/models.TestDetail"
                },
                "id": {
                    "type": "string"
                },
                "module": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "testDate": {
                    "type": "string"
                },
                "updateAt": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerCreateRequest": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "questionId": {
                    "type": "string"
                },
                "userTestId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerCreateResponse": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "questionId": {
                    "type": "string"
                },
                "userTestId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerResponse": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "markerComment": {
                    "type": "string"
                },
                "markerId": {
                    "type": "string"
                },
                "markerScore": {
                    "type": "number"
                },
                "questionId": {
                    "type": "string"
                },
                "userTestId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerUpdateAnswerRequest": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerUpdateAnswerResponse": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "questionId": {
                    "type": "string"
                },
                "updateAt": {
                    "type": "string"
                },
                "userTestId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserAnswerUpdateMarkerRequest": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "markerComment": {
                    "type": "string"
                },
                "markerId": {
                    "type": "string"
                },
                "markerScore": {
                    "type": "number"
                }
            }
        },
        "DTO.UserAnswerUpdateMarkerResponse": {
            "type": "object",
            "properties": {
                "answer": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "markerComment": {
                    "type": "string"
                },
                "markerId": {
                    "type": "string"
                },
                "markerScore": {
                    "type": "number"
                },
                "questionId": {
                    "type": "string"
                },
                "updateAt": {
                    "type": "string"
                },
                "userTestId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserSignUpOrLoginUserResponse": {
            "type": "object",
            "properties": {
                "alias": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "subscriptionExpirationMs": {
                    "type": "integer"
                },
                "subscriptionState": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserSkillsAvgStat": {
            "type": "object",
            "properties": {
                "listeningOverall": {
                    "type": "number"
                },
                "readingOverall": {
                    "type": "number"
                },
                "speakingOverall": {
                    "type": "number"
                },
                "writingOverall": {
                    "type": "number"
                }
            }
        },
        "DTO.UserTestCreateRequest": {
            "type": "object",
            "properties": {
                "testDate": {
                    "type": "integer"
                },
                "testId": {
                    "type": "string"
                },
                "testType": {
                    "type": "integer"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserTestCreateResponse": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "testDate": {
                    "type": "string"
                },
                "testDuration": {
                    "type": "integer"
                },
                "testId": {
                    "type": "string"
                },
                "testType": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserTestResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "testDate": {
                    "type": "string"
                },
                "testDuration": {
                    "type": "integer"
                },
                "testId": {
                    "type": "string"
                },
                "testType": {
                    "type": "string"
                },
                "userAnswers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DTO.UserAnswerResponse"
                    }
                },
                "userId": {
                    "type": "string"
                }
            }
        },
        "DTO.UserTestResultResponse": {
            "type": "object",
            "properties": {
                "answerSheet": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DTO.QuestionWithUserAnswerResponse"
                    }
                },
                "id": {
                    "type": "string"
                },
                "listeningScore": {
                    "type": "number"
                },
                "overallScore": {
                    "type": "number"
                },
                "readingScore": {
                    "type": "number"
                },
                "speakingScore": {
                    "type": "number"
                },
                "stat": {
                    "$ref": "#/definitions/DTO.UserTestStat"
                },
                "testDate": {
                    "type": "string"
                },
                "testDuration": {
                    "type": "integer"
                },
                "testId": {
                    "type": "string"
                },
                "testType": {
                    "type": "string"
                },
                "userId": {
                    "type": "string"
                },
                "writingScore": {
                    "type": "number"
                }
            }
        },
        "DTO.UserTestStat": {
            "type": "object",
            "properties": {
                "average": {
                    "$ref": "#/definitions/DTO.UserSkillsAvgStat"
                },
                "averageTotalSkill": {
                    "$ref": "#/definitions/DTO.UserSkillsAvgStat"
                },
                "skill": {
                    "$ref": "#/definitions/models.TestSkillsStat"
                }
            }
        },
        "models.ComponentDetail": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "time": {
                    "type": "integer"
                }
            }
        },
        "models.QuestionGroupIdentifyingInformation": {
            "type": "object",
            "properties": {
                "q_number": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupMap": {
            "type": "object",
            "properties": {
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.QuestionGroupMapItem"
                    }
                },
                "mapUrl": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupMapItem": {
            "type": "object",
            "properties": {
                "q_number": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupMultipleChoice": {
            "type": "object",
            "properties": {
                "answers": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "q_number": {
                    "type": "integer"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupNoteCompletion": {
            "type": "object",
            "properties": {
                "note": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupSpeaking": {
            "type": "object",
            "properties": {
                "q_number": {
                    "type": "integer"
                },
                "topic": {
                    "type": "string"
                }
            }
        },
        "models.QuestionGroupWriting": {
            "type": "object",
            "properties": {
                "q_number": {
                    "type": "integer"
                },
                "topic": {
                    "type": "string"
                }
            }
        },
        "models.SectionListening": {
            "type": "object",
            "properties": {
                "mediaLengthMin": {
                    "type": "integer"
                },
                "mediaURL": {
                    "type": "string"
                }
            }
        },
        "models.SectionReading": {
            "type": "object",
            "properties": {
                "mainText": {
                    "type": "string"
                }
            }
        },
        "models.SectionSpeaking": {
            "type": "object",
            "properties": {
                "audioUrl": {
                    "type": "string"
                }
            }
        },
        "models.SectionWriting": {
            "type": "object",
            "properties": {
                "minimumWords": {
                    "type": "integer"
                }
            }
        },
        "models.TestComponentStat": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "number"
                },
                "score": {
                    "type": "number"
                }
            }
        },
        "models.TestDetail": {
            "type": "object",
            "properties": {
                "componentsDetail": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ComponentDetail"
                    }
                }
            }
        },
        "models.TestSkillsStat": {
            "type": "object",
            "properties": {
                "listening": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TestComponentStat"
                    }
                },
                "overall": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TestComponentStat"
                    }
                },
                "reading": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TestComponentStat"
                    }
                },
                "speaking": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TestComponentStat"
                    }
                },
                "writing": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.TestComponentStat"
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}